.header-section {
    background-color: #230c33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
}
